/* superdupermart/frontend/src/app/user/components/product-list/product-list.component.css */
mat-card {
  margin: var(--spacing-unit); 
  padding: var(--spacing-unit) !important; 
}

.table-container {
  overflow-x: auto; 
  margin-top: var(--spacing-unit);
}

table {
  width: 100%;
  border-collapse: collapse; 
  min-width: 700px; 
}


td.mat-cell button {
  margin: 0 4px;
}

mat-spinner {
  margin: 20px auto;
}

.error-message {
  color: var(--warn-color);
  text-align: center;
  margin-top: 20px;
}